<section class="registration">
    <div class="container --bg-color-black">
    
        <div class="page">
            <img src='img/page_logo.svg' class="page_logo">
            <h1 class="page_title"><span class="title_pink">ASKE</span>.ON<span class="title_green">LI</span>NE</h1>
        </div>
        <div class="account">
            <p class="account_title">Восстановление пароля</p>
            <p class="account_title-information">Пожалуйста, проверьте электронную почту,чтобы восстановить пароль</p>
        </div>
</section>

