.--catalog-small {
    &:hover {
        background: #D5DDF1;
        transition: ease-in 0.33s;
    }
    
}
.heroes__item-cover--small {
  display: flex;
  width: 360px;
  border: solid  4px 4px 0px 0px #000;
  position: relative;
  padding: 36px 34px;
  align-items: center;
}

.heroes__item-pic--small img {
  display: block;
  width: 10rem;
}

.heroes__itme-label--small {
  width: 127px;
  height: 21px;
}

.heroes__item-title--small {
  width: 10rem;
  position: absolute;
  top: 15%;
  left: 50%;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.--heroes__item-block-small {
  margin-top: 20px;
  margin-left: 25px;
  width: 177px;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

