<a href="#" class="heroes__item ">
    <article class="heroes__item-cover--small --border-left-none  --container-border-down-none --catalog-small">
        <picture class="heroes__item-pic--small ">
          <img   src="img/artist__img/image53.jpg" alt="Artist name">
        </picture>
        
        <h2 class="heroes__item-title--small --bg-color-purple">Театр пантомимы “Настроение”</h2>
        <div class=" --heroes__item-block-small">
            <p class="heroes__item-text">музыкант, джаз</p>

        </div>
    </article>
</a>