

    <div class="full__container --container-border-top-none">
        <div class="calendar-center">
            <div class="addEvent">
                <button class="addEvent_button" type="button">Добавить событие</button>
            </div>
            <div class="table">
                <ul class="calendar">
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                    <li class="calendar_day"></li>
                </ul>
                <div class="invent">
                    <h2 class="invent_data"></h2>
                        <ul class="invent_list"></ul>
                </div>
            </div>
            <div class="popup">
                <input class="popup_input" placeholder="Дата">
                <input class="popup_input" type="time">
                <input class="popup_input" placeholder="Адрес">
                <button class="popup_button" type="button">Сохранить изменения</button>
        </div>
    </div>