*,
*::before,
*::after {
	box-sizing: border-box;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: 16px;
}

html,
body {
	min-height: 100%;
}

body {
	color: #000;
	
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

ul,li {
	list-style: none;
	padding: 0;
}

.full__container {
	width: 1430px;
	margin: 0 auto;
	border: 4px solid #000;
	overflow: hidden;
	  
}

.--bg-post-marker {
	width: 1430px;
	margin: 0 auto;
	position: relative;
	
	  &::before {
		content: url(../img/postkl.svg);
		z-index: 20;
		position: absolute;
		width: 524px;
		height: 100px;
		top: -95px;
		left: 762px;
	  }
}











.--container-color-black {
	background-color: #000;
} 

.--container-color-gray {
	background: #D7D7D7;
}

.--container-border {
	border: 4px solid #000;
}

.--container-border-top-none {
	border-top: none;
}

.--container-border-down-none {
	border-bottom: none;
}

.--container-border-down {
	border-bottom: 4px solid #000;
}



.--padding__posts {
	padding: 0 160px;
} 

.--bg-color-lightgreen {
	background: #DBFE01;
}

.--bg-color-black {
	background: #000;
	color: #fff;
}

.--bg-color-purple {
	background: #7199FF;
}



.--link-style {
	border: 2px solid #000;
  background: #e45201;
  box-shadow: 0px 2px 2px 0px #000;
  color: #030303;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 12px 24px;
  display: block;
  margin-top: 50px;

  &:hover {
    background: #fff;
    transition: ease-in-out 0.2s
  }

  &:active {
    border: 2px solid #E45201;
    color: #E45201;
  }
}

.--border-mod-none {
	border-right:none;
	border-bottom:none;
}

.--green-button {
	color: #111;
  
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border: 2px solid #000;
	background: #dbfe01;
	box-shadow: 0px 2px 2px 0px #000;
	padding: 15px 80px;
	display: block;
	margin: 100px auto;
	width: 384px;
  
	&:hover {
	  transition: ease-in 0.2s;
	  background: #fff;
	}
  
	&:active {
	  background: #000;
	  color: #fff;
	}
  }
