// Экстрамалые девайсы («телефоны», < 576px)






// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1400px) {
  .full__container {
    width: 1280px;
  }

  .menu__list {
    width: 1000px;
  }

  .menu__list-link {
    font-size: 25px;
  }

  .header__title-horizontal {
    font-size: 270px;
  }

  .heroes__wrapper::after {
    width: 1280px;
    left: -61px;
  }

  .heroes__item-cover {
    width: 620px;
    height: 577px;
    padding: 20px 75px;
    height: 606px;
  }

  .heroes__item-title {
    font-size: 26px;
    top: 15%;
  }

  .--bg-post-marker::before {
    left: 613px;
  }
  
}

@media (max-width: 991.98px) {
  .logo__image {
    width: 181px;
  }
}


// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
  .full__container {
    width: 760px;
  }

  .logo__image {
    width: 181px;
  }
  .menu__list {
    width: 588px;
  }
   .menu__list-link {
    font-size: 20px;
  }
}

// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {
  .menu__list {
    display: block;
    z-index: 10;
    position: absolute;
    width: 100%;
    justify-content: center;
  }
}

// Экстрабольшие девайсы (большие десктопы)
// Тут нет @media, т.к. такие брейпкойнты не имеют верхней границы по ширине width
